@page "/"
@inject HttpClient Http
@using XpressR.Shared

<PageTitle>Home</PageTitle>

<div class="container-fluid">
    <div class="mt-5 d-flex text-center justify-content-between">
        <div>
            <img src="static/img/room.png" class="select-logos" />
            <p class="select-font-size">Rooms</p>
        </div>
        <div>
            <img src="static/img/amazing_view.png" class="select-logos" />
            <p class="select-font-size">Amazing Views</p>
        </div>
        <div>
            <img src="static/img/swimming-pool.png" class="select-logos" />
            <p class="select-font-size">Amazing Pools</p>
        </div>
        <div>
            <img src="static/img/mansion.png" class="select-logos" />
            <p class="select-font-size">Mansions</p>
        </div>
        <div>
            <img src="static/img/treehouse.png" class="select-logos" />
            <p class="select-font-size">Tree Houses</p>
        </div>
        <div>
            <img src="static/img/trending.png" class="select-logos" />
            <p class="select-font-size">Trending</p>
        </div>
        <div>
            <img src="static/img/cabin.png" class="select-logos" />
            <p class="select-font-size">Cabins</p>
        </div>
        <div>
            <img src="static/img/castle.png" class="select-logos" />
            <p class="select-font-size">Castles</p>
        </div>
        <div>
            <img src="static/img/lake-front.png" class="select-logos" />
            <p class="select-font-size">Lakefront</p>
        </div>
        <div>
            <img src="static/img/tiny-homes.png" class="select-logos" />
            <p class="select-font-size">Tiny Homes</p>
        </div>
        <div>
            <img src="static/img/designs.png" class="select-logos" />
            <p class="select-font-size">Design</p>
        </div>
        <div>
            <img src="static/img/beach.png" class="select-logos" />
            <p class="select-font-size">Beach</p>
        </div>
        <button class="btn fs-10 text btn-outline-dark mb-4">
            <img src="static/img/filter.png" class="select-logos" />
            Filters
        </button>
    </div>
    <div class="text-center">
        <input type="text" placeholder="Display total price | Includes all fees, before taxes" class="rounded-3 p-3 dsplay" />
    </div>
    <div class="row mt-4 text-center">
        @foreach (Property p in Properties)
        {
            <a class="col mx-4" href=@($"/rooms/{p.PropertyId}")>
                <img src="@p.Thumbnail" />
                <p class="fw-bold mt-2">Ocean City, Maryland</p>
                <p>@p.Address</p>
                <p>@p.City</p>
                <p>@p.Zip</p>
                <p class="fw-bold">$@p.Price night</p>
            </a>
        }
        <!--
        @for (int i =0; i<10; i++)
        {
           /*
            <a class="col mx-4" href="/rooms">
                <img src="/static/Houses/OceanCity_MD.png" alt="OceanCity" />
                <p class="fw-bold mt-2">Ocean City, Maryland</p>
                <p>On Ocean City Beach</p>
                <p>Aug 26-31</p>
                <p class="fw-bold">$785 night</p>
            </a>
            */
        }
        -->
    </div>
</div>

@code{
    List<Property> Properties = new List<Property>();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var response = await Http.GetAsync("api/Property/all");
        if (response.IsSuccessStatusCode)
        {
            Properties = await response.Content.ReadFromJsonAsync<List<Property>>();
            StateHasChanged();
        }
        else
        {
            Console.WriteLine("Something is wrong");
        }
    }
}
